@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	background: rgb(31 41 55);
}

body {
	margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0px;
}

input {
	@apply rounded focus:outline-none focus:ring-4 focus:ring-white/30;
}

.image-card {
	animation: imageCardBackground 1.5s ease infinite;
}

.image-card:hover>.image-card-tags,
.image-card:hover>.image-card-actions {
	opacity: 1;
}

.loader {
	border: 3px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spinning 1s linear infinite;
}

@keyframes imageCardBackground {
	50% {
		background-color: #718096;
	}
}

@keyframes spinning {
	100% {
		transform: rotate(360deg);
	}
}