@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto&family=Product+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	background: rgb(31 41 55);
}

body {
	margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0px;
}

input {
	@apply rounded focus:outline-none focus:ring-4 focus:ring-white/30;
}

@layer components {
	.fullscreen-container {
		@apply z-50 fixed w-full h-full flex justify-center items-center bg-black/70 backdrop-blur-lg bg-opacity-50;
	}

	.pop-up {
		@apply relative bg-gray-800 w-[600px] max-w-[90%] h-min rounded p-4 text-white;
	}

	.pop-up-title {
		@apply font-title-alternate font-bold text-white text-center text-lg md:text-3xl my-2;
	}

	.pop-up-close {
		@apply absolute top-0 right-0 m-2 rounded-full cursor-pointer hover:bg-white hover:bg-opacity-25 p-2 transition-all duration-100;
	}
}

.image-card {
	animation: imageCardBackground 1.5s ease infinite;
}

.image-card:hover>.image-card-tags,
.image-card:hover>.image-card-actions {
	opacity: 1;
}

.loader {
	border: 3px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spinning 1s linear infinite;
}

@keyframes imageCardBackground {
	50% {
		background-color: #718096;
	}
}

@keyframes spinning {
	100% {
		transform: rotate(360deg);
	}
}