@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
}

.image-card {
	animation: imageCardBackground 1.5s ease infinite;
	width: 300px;
	height: 300px;
}

.image-card:hover>.image-card-tags,
.image-card:hover>.image-card-actions {
	opacity: 1;
}

@media (min-width: 768px) {
	.images-grid .image-card:last-child {
		margin-right: auto;
	}
}


.loader {
	border: 3px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spinning 1s linear infinite;
}

@keyframes imageCardBackground {
	50% {
		background-color: #718096;
	}
}

@keyframes spinning {
	100% {
		transform: rotate(360deg);
	}
}